/* font google */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.topo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: silver;
    border-bottom: 2px solid #e70707;
    padding: 10px 10px 40px 10px;
}
.container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.foto_perfil {
    width: 220px;
    height: 220px;
    background-image: url('/@/../perfil.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50% 50%;
    border: solid 5px red;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif ;
}
.texto h1 {
    font-size: 35px;
}
.texto h2 {
    font-size: 18px;
    font-style: italic;
    color: rgb(214, 7, 7);
}

/* links */
.links_container {
    padding: 5px;
    background-color: rgb(116, 108, 108);
    border-bottom: 2px solid #e70707;
    border-radius: 50px 25px;
    width: 80%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -30px; 
    flex-direction: row;
    gap: 10px;
}
.box_link {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box_link a {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px red;
    border-bottom:solid 2px red;
    border-radius: -10px;
}

/* efeito hover links */
.links_container a:hover, .box_link a:hover {
    color: rgb(231, 7, 7);
}

/* botão portfólio */
.botao {
    width: 40%;
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 10px;
}
.botao a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(116, 108, 108);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.botao a:hover {
    background-color:#e70707;
    color: white;
}

/* ///// MEDIA QUERIES ///// */

@media (max-width: 340px) { /* smartphone pequeno */
    .box_link {
        flex-direction: row !important;
        height: auto;
        width: 130px;
        position: absolute;
        top: 10px;
    }
    .container {
        flex-direction: column;
        gap: 10px;
    }
    
    .links_container {
        padding: 5px;
    }
    .texto h1, .texto h2 {
        font-size: 13px;
    }
}

@media (max-width: 767px) { /* smartphone */
    .texto h1 {
        font-size: 27px;
    }

    .links_container {
        width: 95%;
        flex-wrap: wrap;
        height: 25%;
        flex-direction: column;
        align-items: center;
    } .links_container a {
        font-size: 40px;
    }

    .botao {
        flex-direction: column;
        width: 100%;
        height: 95%;
    }
    .botao a {
        font-size: 15px !important;
        width: 80%;
        text-align: center;
    }

    .box_link {
        flex-direction: column;
        width: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) { /* tablet */
    .botao {
        width: 80%;
    }
    .foto_perfil {
        width: 200px;
        height: 200px;
    }
}