.container_mae {
    width: 100%;
}

.main {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column
}

.main section {
    width: 100%;
}

.secao_topo {
    width: 100%;
    height: 50vh;
}

/* área dos cards */
.secao_projetos {
    min-width: 250px;
    width: 100%;
    min-height: 90vh;
    padding: 60px 20px 30px 20px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

/* sobre mim */
.sobre_mim {
    width: 100%;
    height: 100vh;
    padding: 30px;
}

/* tecnologias */
.tecnologias {
    background-color: #f3f3f3;
    height: 80vh;
    padding: 20px 0;
}

/* rodapé */
.rodape {
    width: 100%;
    background-color: #746c6c;
    height: 20vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape p {
    color: white;
}
.rodape a {
    text-decoration: none;
    color: white;
}
.rodape a:hover {
    color: #d60707;
}

@media (max-width: 767px) { /* smartphone */
    .secao_topo { /*topo*/
        height: 90vh;
    }
    .sobre_mim {  /*sobre mim*/
        height: auto;
    }
    .tecnologias { /* tecnologias */
        height: auto;
    }

}